<!DOCTYPE html>
<html>
  <head>
    <style>
      .book-component {
        background: beige;
        height: 12em;
        width: 9em;
        transform: skewY(4deg);
      }
    </style>
  </head>
  <body>
    <div class='book-component'>

    </div>
    <div class='book-component'>

    </div>
    <div class='book-component'>

    </div>
  </body>
</html>
